@use "../styles/common/mixins" as *;

.ali-dev-details {
  box-shadow: var(--ali-dev-details-box-shadow);
  border-radius: var(--ali-dev-details-border-radius);

  &__summary {
    &:focus {
      @include focus;
    }

    &:focus-visible {
      @include focus-visible;
    }

    background-color: var(--ali-dev-details-summary-background-color);
    color: var(--ali-dev-details-summary-color);
    padding-inline-start: var(--ali-dev-details-summary-padding-inline-start);
    padding-inline-end: var(--ali-dev-details-summary-padding-inline-end);
    padding-block-start: var(--ali-dev-details-summary-padding-block-start);
    padding-block-end: var(--ali-dev-details-summary-padding-block-end);
    border-radius: var(--ali-dev-details-border-radius);
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    margin-block-end: var(--_ali-dev-details-summary-margin-block-end, -10px);
    transition-property: margin-block-end;
    transition-duration: var(--ali-dev-details-animation-duration);
    transition-timing-function: ease-out;
    gap: var(--ali-dev-details-summary-gap);

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] &__summary {
    --_ali-dev-details-summary-margin-block-end: 0;
  }

  &__icon {
    animation-duration: var(--ali-dev-details-animation-duration);
    animation-name: rotate-close-icon;
    animation-timing-function: linear;
  }

  &[open] &__icon {
    transform: rotate(90deg);
    animation-name: rotate-open-icon;
    animation-timing-function: linear;
    animation-duration: var(--ali-dev-details-animation-duration);
  }

  &__body {
    padding-inline-start: var(--ali-dev-details-body-padding-inline-start);
    padding-inline-end: var(--ali-dev-details-body-padding-inline-end);
    padding-block-start: var(--ali-dev-details-body-padding-block-start);
    padding-block-end: var(--ali-dev-details-body-padding-block-end);
    background-color: var(--ali-dev-details-body-background-color);
    overflow-y: var(--ali-dev-details-body-overflow-y);
    max-block-size: var(--ali-dev-details-body-max-block-size);
  }
}

@keyframes rotate-open-icon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-close-icon {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
