.ali-dev-toc {
  --ali-dev-details-summary-padding-block-start: var(
    --ali-dev-toc-header-padding-block-start
  );
  --ali-dev-details-summary-padding-block-end: var(
    --ali-dev-toc-header-padding-block-end
  );
  --ali-dev-details-summary-padding-inline-start: var(
    --ali-dev-toc-header-padding-inline-start
  );
  --ali-dev-details-summary-padding-inline-end: var(
    --ali-dev-toc-header-padding-inline-end
  );
  --ali-dev-details-summary-background-color: var(
    --ali-dev-toc-background-color
  );
  --ali-dev-details-body-padding-inline-start: var(
    --ali-dev-toc-body-padding-inline-start
  );
  --ali-dev-details-body-padding-inline-end: var(
    --ali-dev-toc-body-padding-inline-end
  );
  --ali-dev-details-body-padding-block-start: var(
    --ali-dev-toc-body-padding-block-start
  );
  --ali-dev-details-body-padding-block-end: var(
    --ali-dev-toc-body-padding-block-end
  );
  --ali-dev-details-body-max-block-size: var(--ali-dev-toc-body-max-block-size);
  --ali-dev-details-body-overflow-y: auto;

  background-color: var(--ali-dev-toc-background-color);
  border-radius: var(--ali-dev-toc-border-radius);
  position: sticky;
  top: 20px;

  &__list {
    --ali-dev-list-margin-block-start: var(
      --ali-dev-toc-list-margin-block-start
    );
    --ali-dev-list-margin-block-end: var(--ali-dev-toc-list-margin-block-end);
  }

  &__item {
    --ali-dev-list-item-margin-block-start: var(
      --ali-dev-toc-item-margin-block-start
    );
  }

  &__link {
    --ali-dev-anchor-text-underline-offset: var(
      --ali-dev-toc-link-underline-offset
    );
    --ali-dev-anchor-color: var(--ali-dev-toc-link-color);
    --ali-dev-anchor-text-decoration: none;
    --ali-dev-anchor-font-size: var(--ali-dev-toc-link-font-size);
    --ali-dev-anchor-hover-text-decoration: underline;
  }
}
