@use "./common/" as *;

// global reset styles
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: var(--_scroll-behavior, smooth);
}

main {
  min-height: 0;
  overflow: auto;
}

@media (prefers-reduced-motion) {
  body {
    --_scroll-behavior: auto;
  }
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
