.ali-dev-page-header {
  --ali-dev-heading-h1-margin-block-start: 0;
  --ali-dev-heading-h1-margin-block-end: 0;

  text-align: center;
  padding-block-start: var(--ali-dev-page-header-padding-block-start);
  padding-block-end: var(--ali-dev-page-header-padding-block-end);
  background-color: var(--ali-dev-page-header-background-color);

  &__image {
    border-radius: 50%;
    outline-width: var(--ali-dev-page-header-image-outline-width);
    outline-style: solid;
    outline-color: var(--ali-dev-page-header-image-outline-color);
    outline-offset: var(--ali-dev-page-header-image-outline-offset);
  }

  &__heading-group {
    display: grid;
    row-gap: var(--ali-dev-page-header-heading-group-row-gap);
  }
}
