# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
playwright-report/
test-results/
# next.js
/.next/
apps/website/.next
/out/

# production
/build
packages/theme/build
apps/storybook/storybook-static/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# types generated
generated/
graphql.schema.json

# storybook output folder
/storybook-static

# next-sitemap
robots.txt
sitemap-0.xml
sitemap.xml

*storybook.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
dist
.rollup.cache
node_modules
.eslintcache
.turbo/
