.toc {
  --details-summary-padding-block-start: var(--toc-header-padding-block-start);
  --details-summary-padding-block-end: var(--toc-header-padding-block-end);
  --details-summary-padding-inline-start: var(
    --toc-header-padding-inline-start
  );
  --details-summary-padding-inline-end: var(--toc-header-padding-inline-end);
  --details-summary-background-color: var(--toc-background-color);
  --details-body-padding-inline-start: var(--toc-body-padding-inline-start);
  --details-body-padding-inline-end: var(--toc-body-padding-inline-end);
  --details-body-padding-block-start: var(--toc-body-padding-block-start);
  --details-body-padding-block-end: var(--toc-body-padding-block-end);
  --details-body-max-block-size: var(--toc-body-max-block-size);
  --details-body-overflow-y: auto;

  background-color: var(--toc-background-color);
  border-radius: var(--toc-border-radius);
  position: sticky;
  top: 20px;
}

.toc__list {
  --list-item-padding-block-start: var(--toc-list-item-padding-block-start);
  --list-item-padding-block-end: var(--toc-list-item-padding-block-end);
  --list-margin-block-start: var(--toc-list-margin-block-start);
}

.toc__list-nested {
  --list-padding-inline-start: var(--toc-list-nested-padding-inline-start);
  --list-margin-block-start: var(--toc-list-nested-margin-block-start);
}

.toc__link {
  --anchor-text-underline-offset: var(--toc-link-underline-offset);
  --anchor-color: var(--toc-link-color);
  --anchor-text-decoration: none;
  --anchor-font-size: var(--toc-link-font-size);
  --anchor-hover-text-decoration: underline;
}
