.ali-dev-footer {
  padding-block-start: var(--ali-dev-footer-padding-block-start);
  padding-block-end: var(--ali-dev-footer-padding-block-end);
  background-color: var(--ali-dev-footer-background-color);
  border-block-start: var(--ali-dev-footer-border-block-start-width) solid
    var(--ali-dev-footer-border-block-start-color);
}
