.code-highlighter {
  background-color: var(--colors-primary-bg);
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

.code-highlighter__header {
  padding-inline: var(--space-2);
  padding-block: var(--space-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-highlighter__clipboard {
  background-color: transparent;
  color: var(--colors-grey-0);
  font-size: var(--typography-body-regular-font-size);
  border: none;
  cursor: pointer;
}

.code-highlighter__clipboard:hover {
  color: var(--colors-primary);
}
