.ali-dev-inline-code {
  background-color: var(--ali-dev-inline-code-background-color);
  border-radius: var(--ali-dev-inline-code-border-radius);
  padding-inline-start: var(--ali-dev-inline-code-padding-inline-start);
  padding-inline-end: var(--ali-dev-inline-code-padding-inline-end);
  padding-block-start: var(--ali-dev-inline-code-padding-block-start);
  padding-block-end: var(--ali-dev-inline-code-padding-block-end);
  color: var(--ali-dev-inline-code-color);
}
