.page-header-section {
  text-align: center;
  padding-block: var(--page-header-section-padding-block);
  background-color: var(--colors-primary-bg);
}

.page-header__heading-group:has(.page-header__subtitle) {
  --page-header-title-margin-block-end: var(--space-3);
}

.page-header__title {
  margin-block-end: var(--page-header-title-margin-block-end);
}
