$breakpoints: (
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
);

@mixin breakpoint($name) {
  @media screen and (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@mixin display {
  position: initial;
  width: initial;
  height: initial;
  padding: initial;
  margin: initial;
  overflow: initial;
  clip: initial;
  white-space: initial; /* added line */
  border: initial;
}

@mixin focus {
  outline: var(--colors-primary) solid 2px;
  outline-offset: 4px;
}
