.typography-subtitle,
.typography-body--secondary,
.typography-body--size-mobile,
.typography-body {
  font-family: var(--font-family);
  color: var(--typography-color);
}

.typography-subtitle {
  font-size: var(--typography-subtitle-font-size);
  line-height: var(--typography-subtitle-line-height);
}

.typography-body {
  font-size: var(--typography-body-regular-font-size);
  line-height: var(--typography-body-regular-line-height);
}

.typography-body--size-mobile {
  --typography-body-regular-font-size: var(
    --typography-body-regular-mobile-font-size
  );
}

.typography-body--size-secondary {
  --typography-body-regular-font-size: var(
    --typography-body-regular-secondary-font-size
  );
}
