.anchor {
  --anchor-font-family: var(--font-family);

  color: var(--anchor-color);
  text-decoration: var(--anchor-text-decoration, underline);
  text-underline-offset: var(--anchor-text-underline-offset, 3px);
  font-size: var(--anchor-font-size);
  font-family: var(--anchor-font-family);

  &:hover {
    --anchor-text-decoration: var(--anchor-hover-text-decoration);

    color: var(--anchor-color-hover);
  }
}
