@use "../styles/common/mixins" as *;

.ali-dev-anchor {
  color: var(--ali-dev-anchor-color);
  text-decoration: var(--ali-dev-anchor-text-decoration);
  text-underline-offset: var(--ali-dev-anchor-text-underline-offset);
  font-size: var(--ali-dev-anchor-font-size);
  font-family: var(--ali-dev-anchor-font-family);

  &:hover {
    --ali-dev-anchor-color: var(--ali-dev-anchor-hover-color);
  }

  &:focus {
    @include focus;
  }

  &:focus-visible {
    @include focus-visible;
  }
}
