@use "../Typography/Typography.module.scss" as *;

.textarea {
  @extend .typography-body--size-mobile;

  margin-block: var(--space-1);
  border: var(--textarea-border-width) solid var(--textarea-border-color);
  padding: var(--space-1);
  border-radius: var(--textarea-border-border-radius);
  outline: none;
  background-color: transparent;
  color: var(--textarea-color);

  &::placeholder {
    @extend .typography-body--size-mobile;

    color: var(--textarea-placeholder-color, inherit);
  }

  &:hover {
    --textarea-border-color: var(--textarea-border-color-hover);
  }

  &:focus {
    --textarea-border-color: var(--textarea-border-color-focus);
  }

  &:disabled {
    --textarea-border-color: var(--textarea-border-color-disabled);
    --textarea-placeholder-color: var(--textarea-placeholder-disabled-color);
  }

  &--error {
    --textarea-border-color: var(--textarea-border-error-color);
    --textarea-border-color-hover: var(--textarea-border-error-color);
    --textarea-border-color-focus: var(--textarea-border-error-color);
  }
}
