@use "../../reusable/Container/Container.module.scss" as *;
@use "../../../styles/common/mixins" as *;

.social-media {
  @include container;

  padding-block-start: var(--social-media-padding-block-start);
  padding-block-end: var(--social-media-padding-block-end);
}

.social-media__title {
  margin-block-end: var(--social-media-title-margin-block-end);
}

.social-media__link {
  color: var(--social-media-link-color);
  margin-inline-end: var(--social-media-link-margin-end);
  font-size: var(--social-media-link-font-size);
  line-height: 0;

  &:focus {
    @include focus;
  }

  &:focus-visible {
    @include focus-visible;
  }

  &:hover {
    --social-media-link-color: var(--social-media-link-hover-color);
  }
}

.social-media__link:last-child {
  --social-media-link-margin-end: 0;
}
