.ali-dev-blog-header {
  background-color: var(--ali-dev-blog-header-background-color);
  padding-block-start: var(--ali-dev-blog-header-padding-block-start);
  padding-block-end: var(--ali-dev-blog-header-padding-block-end);
}
