.toc {
  --toc-list-margin-block-start: 14px;
  --toc-list-nested-margin-block-start: 14px;
  --list-item-padding-block-start: 8px;
  --list-item-padding-block-end: 8px;

  background-color: var(--colors-primary-bg);
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 5px;
  position: sticky;
  max-block-size: 800px;
  overflow-y: auto;
  top: 20px;
}

.toc__list {
  --list-margin-block-start: var(--toc-list-margin-block-start);
}

.toc__list-nested {
  --list-padding-inline-start: 30px;
  --list-margin-block-start: var(--toc-list-nested-margin-block-start);
}

.toc__link {
  --anchor-text-underline-offset: 5px;
  --anchor-color: var(--toc-link-color);
  --anchor-text-decoration: none;
  --toc-link-font-size: var(--typography-h4-font-size);
  --anchor-font-size: var(--toc-link-font-size);
  --anchor-hover-text-decoration: underline;
}
