@use "sass:color";

.ali-dev-code-highlighter {
  background-color: var(--ali-dev-code-highlighter-background-color);
  position: relative;
  max-inline-size: 100%;

  &__highlighted {
    background-color: color.adjust(#222831, $lightness: 10%);
    inline-size: 100%;
    display: inline-block;
    padding-block-start: var(
      --ali-dev-code-highlighter-highlighted-padding-block-start
    );
    padding-block-end: var(
      --ali-dev-code-highlighter-highlighted-padding-block-end
    );
  }

  &__header {
    background-color: var(--ali-dev-code-highlighter-header-background-color);
    padding-inline-start: var(
      --ali-dev-code-highlighter-header-padding-inline-start
    );
    padding-inline-end: var(
      --ali-dev-code-highlighter-header-padding-inline-end
    );
    padding-block-start: var(
      --ali-dev-code-highlighter-header-padding-block-start
    );
    padding-block-end: var(--ali-dev-code-highlighter-header-padding-block-end);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pre {
    padding-inline-start: var(
      --ali-dev-code-highlighter-pre-padding-inline-start
    );
    padding-inline-end: var(--ali-dev-code-highlighter-pre-padding-inline-end);
    padding-block-start: var(
      --ali-dev-code-highlighter-pre-padding-block-start
    );
    padding-block-end: var(--ali-dev-code-highlighter-pre-padding-block-end);
    margin-block: 0;
    overflow-x: auto;

    &::-webkit-scrollbar {
      block-size: var(--ali-dev-code-highlighter-pre-scrollbar-block-size);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(
        --ali-dev-code-highlighter-pre-scrollbar-thumb-background-color
      );
      border-radius: var(
        --ali-dev-code-highlighter-pre-scrollbar-thumb-border-radius
      );
    }

    & > code {
      white-space: pre;
      word-wrap: normal;
    }
  }

  &__code {
    white-space: pre-line;
    word-wrap: break-word;
    color: var(--ali-dev-code-highlighter-code-color);
  }
}
