.list {
  padding-block-start: var(--list-padding-block-start);
  padding-block-end: var(--list-padding-block-end);
  padding-inline-start: var(--list-padding-inline-start);
  padding-inline-end: var(--list-padding-inline-end);
  margin-block-start: var(--list-margin-block-start);
  margin-block-end: var(--list-margin-block-end);
  margin-inline-start: var(--list-margin-inline-start);
  margin-inline-end: var(--list-margin-inline-end);
  color: var(--list-color, currentColor);
  background-color: var(--list-background-color);
}
