.more-about {
  --card-margin-block-start: 0;
}

.more-about__list {
  margin: 0;
  padding: 0;
}

.more-about__list-item {
  display: flex;
  list-style-type: none;
  color: var(--text-color-dark);
  padding-block: var(--space-3);
}

.more-about__list-item-icon {
  margin-inline-end: var(--space-3);
  width: 10px;
  height: 138px;
}
