@use "../styles/common/mixins" as *;

.ali-dev-clipboard {
  background-color: transparent;
  color: var(--ali-dev-clipboard-color);
  border: none;
  cursor: pointer;
  font-size: var(--ali-dev-clipboard-icon-size);
  padding: 0;
  line-height: 0;

  &:focus {
    @include focus;
  }

  &:focus-visible {
    @include focus-visible;
  }

  &:hover {
    color: var(--ali-dev-clipboard-hover-color);
  }
}
