@use "../styles/common/mixins" as *;

.clipboard {
  background-color: transparent;
  color: var(--colors-grey-0);
  border: none;
  cursor: pointer;
  font-size: 40px;
  padding: 0;
  line-height: 0;

  &:focus {
    @include focus;
  }

  &:focus-visible {
    @include focus-visible;
  }
}

.clipboard:hover {
  color: var(--colors-primary);
}
