.ali-dev-body {
  background-color: var(--ali-dev-body-background-color);
  color: var(--ali-dev-body-color);
  font-size: var(--ali-dev-body-font-size);
  font-family: var(--ali-dev-body-font-family);
}
