.ali-dev-form {
  padding-block-start: var(--ali-dev-from-padding-block-start);
  padding-block-end: var(--ali-dev-from-padding-block-end);
  width: 100%;
  display: grid;
  row-gap: var(--ali-dev-form-row-gap);
}
