.ali-dev-surface {
  background-image: var(--ali-dev-surface-hero-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--ali-dev-colors-text-color-light);
}
